<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8ba3c7">  <td>22/12/11 20:55:28</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TC001_Login.afterTest()[pri:0, instance:com.demo_serenity.login.TC001_Login@8576fa0]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@738677855</td>   <td></td> </tr>
<tr bgcolor="8ba3c7">  <td>22/12/11 20:55:15</td>   <td>-12896</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_Login.beforeTest()[pri:0, instance:com.demo_serenity.login.TC001_Login@8576fa0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@738677855</td>   <td></td> </tr>
<tr bgcolor="8ba3c7">  <td>22/12/11 20:55:18</td>   <td>-9867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.tC001_Login()[pri:0, instance:com.demo_serenity.login.TC001_Login@8576fa0]">tC001_Login</td> 
  <td>main@738677855</td>   <td></td> </tr>
</table>
